body {
  background-image: url(c46cec3183000e834980.jpg);
  background-color: #d0cdcd;
  background-size: cover;
  display: flex;
  justify-content: center;
}

#score, #missCount, .scoreboard {
  font-size: 30px;
  font-family: "Times New Roman", serif;
  font-weight: bold;
  margin-top: 25px;
  margin-left: 25px;
}

#score, #missCount {
  display: inline-block;
  color: white;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  border: 2px solid black;
  background: black;
}

#game-board {
  width: 800px;
  height: 800px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  cursor: url(286dd272f57702d288c4.cur), pointer;

}

#game-board div {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: space-around;
  background: #7a412f;
  margin: 25px;
  border-radius: 50%;
}

#game-board div img {
  width: 100px;
  height: 100px;
  margin: auto;
}
